# Which team or person to inform for PRs that modify these files.
# `*` means all files in the repository.
* @dp-next/platform-team
# Only notify WP3 people for changes to the Quarto docs.
*.qmd @dp-next/wp3-team @dp-next/platform-team
